<section class="cookieBody" role="product-cookie">
<span id="cookies-products">
    <div section="container">
        <div class="row">
                <div class="col-md-4" ng-repeat="products in ctrl.products">
                    <div class="card ">
                        <h2>{{products.name}}</h2>
                        <div class="img_holder center-block" style="background:url('{{products.image}}');
                            background-size: cover no-repeat center;
                            height: 200px;
                            position: absolute;
                            right: 10%;
                            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);">
                             </div>

                             <div class="description">
                            <h5>Description</h5>{{products.description}}    
                            </div>
                            
                            <div class="price">
                            <h5>Price</h5> 
                            ${{products.price}}
                            </div>
                        
                         <button type="button" class="btn btn-primary center-block" ng-click="addToCart()">Add to cart</button>
                    </div>    
                </div>
            </div>
        </div>
    </div>    
</span>
</section>